__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
build/
dist/
*.spec
config_api.json
bases_de_datos.json
historial_mensajes/
reporte_fallos/
imagenes_campana/
contactos_exportados/
base_conocimientos_ia/
*.log
.DS_Store
Thumbs.db
